Repository ramiro1998/simbiosis-crawler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --html-whitespace-sensitivity=strict, eslint

updated readme
  .lintstagedrc.json
  README.md
  package-lock.json
Due: prettier --write --html-whitespace-sensitivity=strict

updated readme.
  README.md
Due: none

updated readme
  README.md
Due: none

crawler finished
  downloads/details.pdf
  functions/simbiosis/.eslintrc
  functions/simbiosis/package.json
  functions/simbiosis/project.json
  functions/simbiosis/src/main.ts
  functions/simbiosis/src/simbiosis.crawler.ts
  functions/simbiosis/tsconfig.app.json
  functions/simbiosis/tsconfig.json
  functions/simbiosis/tsconfig.spec.json
  functions/simbiosis/vite.config.ts
  libs/browser/src/lib/browser.ts
  libs/playwright-scripts/src/lib/functions/index.ts
  libs/playwright-scripts/src/lib/functions/simbiosis/index.ts
  libs/playwright-scripts/src/lib/functions/simbiosis/pages/index.ts
  libs/playwright-scripts/src/lib/functions/simbiosis/pages/simbiosis-about.page.ts
  libs/playwright-scripts/src/lib/functions/simbiosis/pages/simbiosis-home.page.ts
  libs/playwright-scripts/src/lib/functions/simbiosis/simbiosis.script.ts
  libs/zod-schema/src/lib/functions/index.ts
  libs/zod-schema/src/lib/functions/simbiosis/index.ts
  libs/zod-schema/src/lib/functions/simbiosis/simbiosis-env.schema.ts
  libs/zod-schema/src/lib/functions/simbiosis/simbiosis-in.schema.ts
  libs/zod-schema/src/lib/functions/simbiosis/simbiosis-out.schema.ts
  package-lock.json
  package.json
Due: prettier --write --html-whitespace-sensitivity=strict, eslint

reducing time
  libs/playwright-scripts/src/lib/functions/simbiosis/pages/simbiosis-home.page.ts
Due: prettier --write --html-whitespace-sensitivity=strict, eslint

adjusting time
  downloads/details.pdf
  libs/playwright-scripts/src/lib/functions/simbiosis/pages/simbiosis-home.page.ts
Due: prettier --write --html-whitespace-sensitivity=strict, eslint

Path conditions:
  prettier --write --html-whitespace-sensitivity=strict: (((any of: *.ts) or (any of: *.html)) or (any of: *.css)) or (any of: *.json)
  eslint: (any of: *.ts) or (any of: *.html)
